.small {
  font-size: 0.75rem;
}

.Header {
  text-align: center;
  font-family: Tahoma, sans-serif;
  color: white;
}

.header-link {
  text-decoration: none;
  color: inherit; 
  cursor: pointer; 
}

/* styles.css */

.app {
  background-color: #3f6b6f;
  text-align: center;
  width: 95%;
  height: 95%;
  padding: 20px;
}

.search-bar {
  margin: 20px 0;
}

.container {
  display: flex;
  justify-content: space-between;
}

.left-container {
  width: 45%; /* Adjust the width as needed */
  height: 50vh;
  max-height: 50vh;
  background-color: #c3a698;
  padding: 1vh;
  overflow: auto;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}

.right-container {
  width: 45%; /* Adjust the width as needed */
  height: 50vh;
  max-height: 50vh;
  background-color: #62424B;
  padding: 1vh;
  overflow: auto;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}

.remove-button {
  background-color: #3f6b6f;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
}

.move-right-button {
  background-color: #4e3036;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}

.track-list {
  list-style: none;
  display: flex; /* Use flexbox to align items */
  flex-direction: column; /* Display items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}

.track-container {
  justify-content: space-between;
  align-items: center;
  background-color: #b17fa4;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 8px 0;
  padding: 8px;
  width: 20vh;
  height: 15vh;
}

.track-container-r {
  justify-content: space-between;
  align-items: center;
  background-color: #4e3036;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 8px 0;
  padding: 8px;
  width: 20vh;
  height: 15vh;
}

.track-row {
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 1vh 0;
}

.track-artist {
  font-weight: bold;
  margin-right: 1vh;
  color: black;
}

.track-album {
  font-weight: bold;
  color: black;
}

.track-name {
  font-weight: bold;
  color: black;
}
